* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    box-sizing: border-box;
}

h1 {
    color: #c4d7b2;
    text-align: center;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    font-size: 64px;
}

h2, h3 {
    color: #678a47;
    letter-spacing: 1px;
    font-style: italic;
}

h2 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
}

h3 {
    text-align: left;
    font-family: serif;
    font-size: 16px;
}

a {
    color: #c4d7b2;
    text-decoration: none;
}

p {
    color: #0D1109;
    text-indent: 20px;
    line-height: 1.5em;
    font-family: serif;
    font-size: 14px;
}


/**** Encabezado ****/

header {
    background-color: #3A4D28;
    text-align: center;
    padding: 50px 0px 20px 0px;
}


/**** Menú horizontal ****/

nav {
    background-color: #678a47;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 14px 2px #0D1109;
}

nav ul {
    list-style-type: none;
    margin: 10px 0px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:link {
    color: #c4d7b2;
}

nav ul li a:visited {
    color: #F2F6EE;
}

nav ul li a:hover {
    color: #DBE7E0;
    text-decoration: underline;
}

nav ul li a:active {
    color: #c5b2d7;
}

/**** Sección principal ****/

main {
    display: flex;
    width: 100%;
    justify-content: center;

}

section {
    display:inline-block;
    box-sizing: border-box;
    width: 90%;
    background-color: #FAFBF8;
    text-align: justify;
    padding: 20px;
}

section article {
    margin: 10px 0px;
}

section article p a:link {
    color: #3A4D28;
}

section article p a:visited {
    color: #95B875;
}

section article p a:hover {
    color: #678a47;
    text-decoration: underline;
}

section article p a:active {
    color: #c5b2d7;
}


/**** Aside ****/

aside {
    float: right;
    width: 10%;
    min-width: 150px;
    background-color: #678a47;
    text-align: center;
    padding: 5% 0;
}

aside ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;
}

aside ul li {
    margin: 20px 0px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

aside ul li a:link {
    color: #c4d7b2;
}

aside ul li a:visited {
    color: #F2F6EE;
}

aside ul li a:hover {
    color: #DBE7E0;
    text-decoration: underline;
}

aside ul li a:active {
    color: #c5b2d7;
}


/**** Pie de página ****/

footer {
    clear: both;
    background-color: #678a47;
    text-align: center;
    font-family: serif;
    padding: 20px;
}

footer * {
    margin: 5px;
}

footer a:link {
    color: #c4d7b2;
}

footer a:visited {
    color: #F2F6EE;
}

footer a:hover {
    color: #DBE7E0;
    text-decoration: underline;
}

footer a:active {
    color: #c5b2d7;
}


/*** Formulario y tabla ****/

form {
    background-color: #c5b2d7;
    color: #3A4D28;
    text-align: center;
    font-weight: bold;
    width: 50%;
    min-width: 350px;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    border: #FAFBF8 5px solid;
}

form input {
    box-sizing: border-box;
    width: 80%;
    height: 25px;
    margin: 10px 0px;
}

form textarea {
    box-sizing: border-box;
    width: 80%;
    height: 100px;
    margin: 10px 0px;
}

form input[type="submit"] {
    background-color: #95B875;
    color: #0D1109;
    font-weight: bold;
    height: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #b2d6d7;
}

form input[type="submit"]:active {
    background-color: #3A4D28;
    color: #FAFBF8;
}

table {
    background-color: #FAFBF8;
    color: #0D1109;
    text-align: center;
    font-family: serif;
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: #c5b2d7 5px solid;
    margin: 20px 0px;
}

tr:nth-child(even) {
    background-color: #95B875;
}

tr:nth-child(odd) {
    background-color: #FAFBF8;
}

tr:first-child {
    background-color: #3A4D28;
    color: #FAFBF8;
}

th, td {
    padding: 5px;
}

caption {
    font-style: italic;
    margin-top: 5px;
}


/**** Estilos específicos****/

#whatsappIcono {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#infoContacto>* {
    margin: 20px;
    text-align: center;
}

/*Otros*/

.imgCentrada{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:not([alt]){
    border: 3px solid red;
}

a[href$=".pdf"]::after{
    content: url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
}